*{
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

header{
    font-size: 80px;
    font-weight: 1000;
}
.category-container p{
    font-weight: 1000;
    font-size: 50px;
}
.btn-start{
    border-radius: 5px;
    background-color: rgb(5, 224, 235);
    border: none;
    height: 30px;
    width: 100px;
    font-weight: 1000;
    margin-top: 2%;
    margin-bottom: 2%;
}

.btn-next{
    border-radius: 5px;
    background-color: rgb(5, 224, 235);
    border: none;
    height: 30px;
    width: 100px;
    font-weight: 1000;
    margin-top: 2%;
    margin-bottom: 5%;
}
.btn-previous{
    border-radius: 5px;
    background-color: rgb(253, 60, 34);
    border: none;
    height: 30px;
    width: 100px;
    font-weight: 1000;
    margin-top: 2%;
    margin-bottom: 5%;
}
.btn-restart{
    border-radius: 5px;
    background-color: rgb(5, 224, 235);
    border: none;
    height: 30px;
    width: 150px;
    font-weight: 1000;
    margin-top: 2%;
    margin-bottom: 5%;
}

.btn-submit{
    border-radius: 5px;
    background-color: rgb(3, 146, 69);
    border: none;
    height: 30px;
    width: 100px;
    font-weight: 1000;
    margin-top: 2%;
    margin-bottom: 5%;
}